* {
  box-sizing: border-box;
}

nav {
  font-size: 39px;
  margin-left: 3rem;
  margin-top: 10rem;
}

a {
  color: black;
}

a:hover {
  color: #c99a32;
}

main {
  margin: 3rem;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
}
section div {
  width: 39%;
}

section div,
section img {
  margin: 10px;
}

button {
  background-color: white;
  border-radius: 18px;
  border: 0.5px solid black;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  color: white;
  background-color: black;
}
